:root {
  --text-color: black;
  --text-dark: #333;
  --text-light: #666;
  --background-color: white;
  --background-color-secondary: #0467a00c;

  --input-background: #f9f9f9;
  --input-border: #ccc;
  --input-focus-border: #333;
  --input-text: #333;
  --input-placeholder: #aaa;

  --button-background: #007bff;
  --button-text: white;
  --button-hover-background: #0056b3;
  --button-hover-text: white;
  --button-disabled-background: #ccc;

  --link-color: #007bff;
  --link-hover-color: #0056b3;

  --border-color: #ccc;
  --border-hover-color: #333;

  --shadow-light: rgba(0, 0, 0, 0.1);
  --shadow-medium: rgba(0, 0, 0, 0.2);
  --shadow-dark: rgba(0, 0, 0, 0.3);

  --text-light: #333;
  --background-light: #f9f9f9;

  --scrollbar-thumb: rgba(18, 107, 241, 0.685);
  --scrollbar-thumb-hover: rgba(18, 107, 241, 0.75)
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
}

button {
  background-color: var(--button-background);
  color: var(--button-text);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: var(--shadow-medium);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
  background-color: var(--button-hover-background);
}

button:disabled {
  background-color: var(--button-disabled-background);
  cursor: not-allowed;
}

input,
textarea {
  background-color: var(--input-background);
  color: var(--input-text);
  border: 1px solid var(--input-border);
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

input:focus,
textarea:focus {
  border-color: var(--input-focus-border);
  outline: none;
}

input::placeholder,
textarea::placeholder {
  color: var(--input-placeholder);
}

form {
  display: flex;
  flex-direction: column;
}

hr {
  border: 1px solid var(--border-color);
  margin: 20px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  font-size: 2rem;
  color: var(--text-light);
  margin-bottom: 20px;
}

.footer {
  font-size: 1rem;
  color: var(--text-light);
  text-align: center;
  padding: 10px 0;
  background-color: var(--background-dark);
}